  <header id="pg-header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand ws-logo" href="{{relLangURL ``}}">
          <img src="/img/logo.keyboard.svg" height="60" style="margin-top:-20px;">
          CodeBoy<span>.dev</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ws-topnav" aria-controls="ws-topnav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="ws-topnav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{relLangURL ``}}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{relLangURL `blog/`}}">List</a></li>
                <li><a class="dropdown-item" href="{{relLangURL `tags/`}}">Tags</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{relLangURL `t-notes/`}}">T-Notes</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{relLangURL `hire/`}}">Hire</a></li>
                <li><a class="dropdown-item" href="{{relLangURL `contact/`}}">Contact</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
{{- /**/ -}}
